$bg_header: #FF5B38;
$header_word: #F2F2F2;
$gray_color: gray;
$lightGray_color:#D6D6D6;
$bg_pokemon-green: #9DDC2E;
$bg_contactUs:#DFECF7;
$bg_pokemon-blue:#0CB7FF;
$white_color: #fafafa;
$bg_pokemon-lightblue: #00F2FF;
$bg_pokemon-lightgreen: #A7F732;
$bg_pokemon-lightgray: #E1E1E1;
$bg_pokemon-blueviolet: blueviolet;